<table style="background-color: #F5F5F5; width: 100%; font-family: Helvetica, Arial, sans-serif; font-size: 1.3em;">
  <tr style="background-color: #202020;">
    <td style="padding: 20px 0 0 20px;"><h1 style="color: #fff;">BMail - Alert!</h1></td>
  </tr>
  <tr>
    <td style="padding: 30px;">Your BMail: <strong style="color: #C8442F;"><%= @bmail.title %></strong> is about to be delivered in <strong style="color: #FC9C00;"><em><%= distance_of_time_in_words_to_now(@bmail.trigger_date - @bmail.time_zone.hours) %>.</em></strong></td>
  </tr>
  <tr>
    <td style="padding: 0 30px;">Follow this link should you choose to <strong style="color: #594c9c">cancel</strong> your BMail: <a style="color: #0EB2C1;" href="#"><strong><%= link_to 'CANCEL', root_url %></strong></a></td>
  </tr>
  <tr>
    <td style="padding: 20 30px;">OR</td>
  </tr>
  <tr>
    <td style="padding: 0 30px;">Simply ignore this message and your BMail will be delivered as scheduled.</td>
  </tr>
  <tr>
    <td style="padding: 40px 30px 30px 30px; font-family: serif; font-size: 1.6em;">Good luck!</td>
  </tr>
  <tr>
    <td style="padding: 0 30px 100px; font-family: serif; font-size: 1.3em; color: #0EB2C1;">BMail Team</td>
  </tr>
</table>
