<table style="background-color: #F5F5F5; width: 100%; font-family: Helvetica, Arial, sans-serif; font-size: 1.3em;">
  <tr style="background-color: #202020;">
    <td style="padding: 20px 0 0 20px;"><h1 style="color: #fff;">BMail - Attention:</h1></td>
  </tr>

  <tr>
    <td style="padding: 30px;">We received a request to reset your BMail credentials. Please follow the coded link below.</td>
  </tr>

  <tr>
    <td style="padding: 0 30px;"><%= link_to reset_url(@user.code), reset_url(@user.code) %></td>
  </tr>

  <tr><td style="padding: 30px;">If you received this email in error, simply do nothing. The above link will expire at #{@user.expires_at.strftime("%-I:%M on %a, %-d %b %Y")}</td></tr>

  <tr>
    <td style="padding: 0 30px 20px;">
      Thanks!
    </td>
  </tr>
  <tr>
  <td style="padding: 0 30px 100px; font-family: serif; font-size: 1em; color: #0EB2C1;">
    BMail Team
  </td>
  </tr>
</table>
