= render partial: "form", locals: { title: "New BMail", bmail: :bmail, url: bmail_index_url }

javascript:

  $(document).ready(function() {
    // set hidden field with time zone offset
    var d = new Date();
    var offset = d.getTimezoneOffset();
    $('#bmail_time_zone').val( -offset/60.0 );
  });