@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300);
@import url(http://fonts.googleapis.com/css?family=Special+Elite);
@import url(http://fonts.googleapis.com/css?family=Tienne:400,700,900);

$purpleBorder: #917fb0;
$darkPurple: #494058;
$lightPurple: #D4CEEB;
$purpleBackground: #c9c1e5;

$side-bar-width: 180px;


body {
  font-family: 'Open Sans', sans-serif;
  // font-family: 'Exo', sans-serif;
  padding-top: 70px;
  background-color: #eee;
  position: relative;
}

.privacy, .terms {

  padding: 30px 0;

  h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
  }

  p, li {
    font-size: 0.9em;
    color: #555;
  }

  p { margin-bottom: 5px; }

  p:last-of-type, li:last-of-type { margin-bottom: 30px; }
}

.name {
  padding-top: 2px;

  h1 { background: url('logo.png') no-repeat 0 6px; }

  a {
    line-height: 2.45em;
    text-indent: 45px;
  }
}

footer {
  text-align: center;
  background-color: #202020;
  padding-top: 10px;
  color: #fff;
  a, span {
    font-size: 70%;
    margin: 0 15px;
  }
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -40px;
}

footer, .push {
  height: 40px;
}

.center {
  text-align: center;
}

h1 {
  font-family: 'Special Elite', cursive;
}

.full-width-bar {
  nav {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.top-bar-section {

  a.button { margin-top: 12px; }

  .login-form {

    padding-top: 10px;

    input { margin-left: 15px; display: inline; }

    input#user_email, input#user_password {
      display: inline;
      width: 150px;
      border: 0;
      border-radius: 3px;
      line-height: 1.25em;
    }

  }
}

.hero {
  background-color: #3B3360;
  height: 428px;

  background: #322c53; /* Old browsers */
  background: -moz-linear-gradient(top,  #322c53 39%, #423a6c 74%, #423a6c 74%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(39%,#322c53), color-stop(74%,#423a6c), color-stop(74%,#423a6c)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #322c53 39%,#423a6c 74%,#423a6c 74%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #322c53 39%,#423a6c 74%,#423a6c 74%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #322c53 39%,#423a6c 74%,#423a6c 74%); /* IE10+ */
  background: linear-gradient(to bottom,  #322c53 39%,#423a6c 74%,#423a6c 74%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#322c53', endColorstr='#423a6c',GradientType=0 ); /* IE6-9 */

  h1 {
    color: white;
    text-align: center;
    width: 240px;
    font-size: 2.2em;
    z-index: 2;

    position: absolute;
    top: 50px;
    left: 70px;

    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
  }

  .medium-12 {
    position: relative;
  }

  .noise {
    width: 100%;
    height: 428px;
    position: absolute;
    opacity: 0.3;
    background: url('noise.png');
    background-size: 100px 100px;
  }

  img {

    z-index: 1;

    &.screen {
      position: absolute;
      left: 228px;
      top: 54px;
    }

    &.drone-left {
      position: absolute;
      left: 116px;
      top: 226px;
    }

    &.drone-right {
      position: absolute;
      left: 366px;
      top: 226px;

      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      filter: FlipH;
      -ms-filter: "FlipH";
    }

    &.mini-iron {
      position: absolute;
      left: 535px;
      top: 3px;
    }

    &.mini-flag {
      position: absolute;
      left: 753px;
      top: 200px;
    }

    &.mini-hawkeye {
      position: absolute;
      left: 675px;
      top: 130px;
    }

    &.mini-swing {
      position: absolute;
      left: 504px;
      top: 150px;
    }

    &.mini-thor {
      position: absolute;
      // left: 690px;
      right: 0;
      top: 20px;
    }
  }

}

.use-cases {

  background-color: $lightPurple;
  height: 280px;
  border-top: 1px solid $purpleBorder;
  border-bottom: 1px solid $purpleBorder;

  h1 {
    font-size: 1.3em;
    text-align: center;
    color: $darkPurple;
  }

  .columns {
    padding: 30px;
    border-right: 1px dashed #aca5c5;
    height: 260px;

    &:last-of-type {
      border: 0;
    }
  }
}

.tag-line {

  padding: 60px 0;
  text-align: center;
  border-bottom: 1px solid $purpleBorder;
  background-color: $purpleBackground;

  h1 {
    font-size: 2.6em;
    color: $darkPurple;
    background-color: $purpleBackground;
  }

  h2 {
    font-size: 1.6em;
    margin: 30px auto;
    padding-bottom: 15px;
    font-family: 'Special Elite', cursive;
    color: $darkPurple;
    border-bottom: 2px dashed $darkPurple;
    width: 366px;
  }

  h3 {
    font-size: 2em;
    font-style: italic;
    font-weight: 300;
    font-family: serif;
    color: $darkPurple;
  }
}

.how-it-works {
  padding: 40px 0;
  background-color: $lightPurple;
  border-bottom: 1px solid $purpleBorder;
}

.registration {
  background-color: $purpleBackground;
  padding: 50px 0;
  height: 500px;

  h1 {
    font-size: 1.8em;
    color: $darkPurple;
  }

  input.field {
    border-radius: 3px;
    border-color: $purpleBorder;
  }

  input:last-of-type {
    float: right;
  }
}

section.main {
  margin-left: $side-bar-width;
  padding-top: 25px;
  overflow: auto;
  height: 100%;
  padding-bottom: 100px;

  h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
  }
}

aside {
  border-right: 1px solid rgba(0,0,0,0.1);
  width: $side-bar-width;
  z-index: -1;
  position: fixed;
  top: 70px;
  left: 0;
  bottom: 0px;

  ul { padding: 30px 25px 0 5px; }

  nav li {
    list-style: none;
  }

  a {
    color: black;
    font-size: 0.9em;
  }

  a.active {
    font-weight: bold;
  }
}
























